.sidebar-dropdown .sidebar-link:before {
  content: '→';
  display: inline-block;
  left: -14px;
  position: relative;
  transform: translateX(0);
  transition: all 0.1s ease;
}

.sidebar-dropdown .sidebar-link {
  background: transparent;
  border-left: 0;
  color: #adb5bd;
  font-size: 90%;
  font-weight: 400;
  padding: 0.625rem 1.5rem 0.625rem 3.25rem;
}

.sidebar [aria-expanded='true']:after,
.sidebar [data-bs-toggle='collapse']:not(.collapsed):after {
  top: 1.4rem;
  transform: rotate(-135deg);
}

.sidebar [data-bs-toggle='collapse']:after {
  border: solid;
  border-width: 0 0.075rem 0.075rem 0;
  content: ' ';
  display: inline-block;
  padding: 2px;
  position: absolute;
  right: 1.5rem;
  top: 1.2rem;
  transform: rotate(45deg);
  transition: all 0.2s ease-out;
}
.sidebar-dropdown .sidebar-item .sidebar-link:hover {
  background: transparent;
  border-left: 0;
  color: #e9ecef;
  font-weight: 400;
}

/* @keyframes rotate {
  to {
    --angle: 360deg;
  }
}

@property --angle {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false;
} */

/* .next-level {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
  border: 3px solid #0000;
  border-radius: 12px;
  background:
    linear-gradient(#131219, #131219) padding-box,
    linear-gradient(var(--angle), #070707, #687aff) border-box;
    background: #2A7B9B;
    background: linear-gradient(90deg,rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(237, 221, 83, 1) 100%);
  animation: 8s rotate linear infinite;
} */
